@font-face {
    font-family: "Creepster"; /* Schriftart "Creepster" definieren */
    src: url("file:src/resources/fonts/Creepster-Regular.ttf") format("truetype"); /* Schriftdatei laden */
}

.button {
    -fx-background-color: linear-gradient(#edf7f2 20%, #509974); /* Farbverlauf von weiß zu grün */
    -fx-background-radius: 10px; /* abrunden */

    -fx-text-fill: white; /* farbe */
    -fx-padding: 1px 1px; /* Abstand */
    -fx-alignment: center; /* zentrieren */
    -fx-font-family: Creepster; /* Schriftart */
    -fx-font-size: 40px; /* Schriftgröße */
    -fx-font-weight: bold; /* fett */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 5, 0, 10, 10); /* Schatten */
    -fx-cursor: hand; /* Cursor in Hand-Form bei Hover */

    -fx-pref-width: 300px;  /* Bevorzugte Breite */
    -fx-pref-height: 50px;  /* Bevorzugte Höhe */
    -fx-min-width: 300px;   /* Mindestbreite */
    -fx-min-height: 50px;   /* Mindesthöhe */
}

.button:hover {
    -fx-background-color: linear-gradient(#edf7f2 20%, #94d1b2); /* Farbverlauf bei Hover ändert sich */
    -fx-border-color: white; /* Weißer Rand */
    -fx-border-width: 2px; /* Rand dicke */
    -fx-border-radius: 10px; /* abgerundeten Ecken */
}

.button:pressed {
    -fx-background-color: linear-gradient(#edf7f2 20%, #5a7065); /* Grauer Farbverlauf beim drücken */

}

.button:focused {
    -fx-background-color: linear-gradient(#edf7f2 20%, #94d1b2); /* Farbverlauf bei Hover ändert sich */
    -fx-border-color: white; /* Weißer Rand */
    -fx-border-width: 2px; /* Rand dicke */
    -fx-border-radius: 10px; /* abgerundeten Ecken */
}

/* Quit Button */
#quit-button:hover {
    -fx-background-color: linear-gradient(#edf7f2 20%, #d13636); /* Roter Farbverlauf bei Hover über "Quit"-Button */

}

#quit-button:pressed {
    -fx-background-color: linear-gradient(#edf7f2 20%, #b80e02); /* Dunkel Roter Farbverlauf für den "Quit"-Button beim drücken */

}

#quit-button:focused {
    -fx-background-color: linear-gradient(#edf7f2 20%, #d13636); /* Roter Farbverlauf bei Hover über "Quit"-Button */

}

/* Game Over */
#game-over {
    -fx-background-color: linear-gradient(#edf7f2 20%, #ff0000); /* Farbverlauf von weiß zu grün */
    -fx-background-radius: 10px; /* abrunden */

    -fx-text-fill: white; /* farbe */
    -fx-padding: 1px 1px; /* Abstand */
    -fx-alignment: center; /* zentrieren */
    -fx-font-family: Creepster; /* Schriftart */
    -fx-font-size: 40px; /* Schriftgröße */
    -fx-font-weight: bold; /* fett */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 5, 0, 10, 10); /* Schatten */
    -fx-cursor: hand; /* Cursor in Hand-Form bei Hover */

    -fx-pref-width: 200px;  /* Bevorzugte Breite */
    -fx-pref-height: 50px;  /* Bevorzugte Höhe */
    -fx-min-width: 200px;   /* Mindestbreite */
    -fx-min-height: 50px;   /* Mindesthöhe */
}

#game-over:hover {
    -fx-background-color: linear-gradient(#edf7f2 20%, #b50000); /* Roter Farbverlauf bei Hover über "Quit"-Button */

}

#game-over:pressed {
    -fx-background-color: linear-gradient(#edf7f2 20%, #2b2b2b); /* Dunkel Roter Farbverlauf für den "Quit"-Button beim drücken */

}

#game-over:focused {
    /*-fx-background-color: linear-gradient(#edf7f2 20%, #d13636); /* Roter Farbverlauf bei Hover über "Quit"-Button */

}

#background {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-background-radius: 15px;
}

/* Text */
#name {
    -fx-alignment: center; /* zentrieren */
    -fx-text-fill: linear-gradient(#edf7f2 40%, #509974); /* Farbverlauf von weiß zu grün */
    -fx-font-size: 60px; /* Schriftgröße */
    -fx-font-weight: bold; /* fett */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 5, 0, 5, 5); /* Schatten */
    -fx-font-family: Creepster; /* Schriftart */
}

#game-over-text {
    -fx-alignment: center; /* zentrieren */
    -fx-text-fill: linear-gradient(#edf7f2 20%, #ff0000); /* Farbverlauf von weiß zu grün */
    -fx-font-size: 60px; /* Schriftgröße */
    -fx-font-weight: bold; /* fett */
    -fx-effect: dropshadow(gaussian, rgba(255, 0, 0, 0.5), 5, 0, 5, 5); /* Schatten */
    -fx-font-family: Creepster; /* Schriftart */
}

.label {
    -fx-font-family: Creepster; /* Schriftart */

}